@mixin vexer-Rapidnaming {

	/*
	* Vaadin provides an effective way of importing add-on themes but does not 
	* provide any automatic name-spacing. You should prefix all your 
	* rules with Rapidnaming to avoid any conflicts.
	*/

	.Rapidnaming-answer {
		color: green;
	}

	.Rapidnaming-title {
		font-size: 24px;
		font-weight: stronger;
	}

	.oikein {
		font: bold 25px Arial;
		color: green;
	}

	.vaarin {
		font: bold 25px Arial;
		color: red;
	}
	
	.correctAnswer {
		font: bold 16px Arial;
	}
	
	.Rapidnaming-disabled {
    	border: 1px solid #b6b6b6;
    	border-top-color: #9d9d9d;
    	border-bottom-color: #d6d6d6;
    	border-right-color: #d6d6d6;
    	color: #464f52;
    	opacity: 1.0;
	}
	.selection{
    	border: #cedcf2 solid 1px;
    	margin: 0 15px 0 10px;
	}
}